################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################
.idea/
/SmartApp.HAL/SmartApp.HAL/NuiDatabase
.idea/
