[submodule "SmartApp.AV/pyAudioAnalysis"]
	path = SmartApp.AV/pyAudioAnalysis
	url = https://github.com/tyiannak/pyAudioAnalysis.git
[submodule "SmartApp.AV/SmartApp.AV/marytts"]
	path = SmartApp.AV/SmartApp.AV/marytts
	url = https://github.com/marytts/marytts
