<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="OutputFileBasePath" value="./InteractionsLogger/Recordings" />
    <add key="WebcamIndex" value="0" />
    <add key="MicrophoneIndex" value="0" />
      
    <!--<add key="Address" value="10.101.46.78" />-->
    <add key="Address" value="10.101.38.194" />
    <add key="Port" value="5666" />
    <add key="Token" value="smartapp1819" />
  </appSettings>
</configuration>