# requires python 3.6

# -- Windows + anaconda --
# To install prebuilt version of dilib execute first:
#  `conda install -c conda-forge dlib`
# then install the other requirements with:
#  `pip install -r requirements`

# offline module
keras>=2.2.0
lasagne
numpy<=1.14.5,>=1.14.1
scikit-image>=0.13.1
scikit-learn>=0.19.1
scikit-neuralnetwork>=0.7
scipy>=0.19.1
tensorflow>=1.10.1
opencv-python
h5py
dlib>=19.4.0

# online module
pytest==3.8.0
requests==2.20.0
simplejson==3.16.0
